/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/mylist.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.mylist_textOverflow__8YWFn {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 최대 3줄 표시 */
  overflow: hidden;
  text-overflow: ellipsis; /* 넘치는 텍스트는 '...'으로 표시 */
}

