/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/index.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.styles_card__5VaZx {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.styles_card__5VaZx:hover {
  transform: translateY(-5px);
}

.styles_textClamp__gmkvp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 줄 수 설정 */
  overflow: hidden; /* 넘치는 부분 숨기기 */
  text-overflow: ellipsis; /* ... 표시 */
}

